<!DOCTYPE html>
<html>
<head>
  <title>An Awesome Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <% unless params[:nojs] %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>